.custom-background {
    background-image: url('../images/background.jpg');
    background-repeat: repeat;

}

.intercore-title-image-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intercore-title-image {
    max-width: 70%;
    max-height: 70%;
}

.cassette-gif-image-container{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cassette-gif-image {

}